{% extends 'base_admin.html' %}

{% block head %}
<title>Rebwellion | Add race</title>
{% endblock %}


{% block body %}
<fieldset>
	<form action="{{ url_for('admin.race') }}" method='POST' enctype="multipart/form-data"> <!-- multipart/form-data é necessario para conseguir upar imagem -->
		<label>Nome</label>
		<input type="text" name="name">

		<label>Posição do Rosto</label>
		<div class="face">
			<input type="text" pattern="\d*" maxlength="3" name="faceX">
			<input type="text" pattern="\d*" maxlength="3" name="faceY">
		</div>
		
		<label>Imagem</label>
		<input type="file" name="image">

		<label>Types</label>
		<input type="text" pattern="[A-Za-z0-9]+,.*[A-Za-z0-9]+,.*[A-Za-z0-9]+" name="types">

		<label>Skills</label>
		<input type="text" name="skills">
		
		<input class="button" type="submit">
	</form>
</fieldset>
{% endblock %}
